.line-break {
    width: 286px;
    border-bottom: 1px solid white;
    margin: 0 auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
    max-width: 857px;
    margin: 40px auto 70px auto;
    color: white;
    font-family: var(--font-alike);
    font-size: 16px;
    font-weight: 400;
}

.email-text {
    text-align: center;
    padding: 36px 0 30px 0;
}

.arrow-container {
    display: flex;
    justify-content: flex-end;
}

/* media queries */
@media screen and (min-width: 640px) {
    .contact-info {
        margin: 70px auto 70px auto;
        font-size: 20px;
    }
}