.swiper-button-prev,
.swiper-button-next {
  color:white !important;
  background-color: black;
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: small !important;
}