.swiper-button-prev,
.swiper-button-next {
  color:white !important;
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px white solid;
  user-select: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1em !important;
}

.instaPhoto {
  object-fit:cover;
  /* height: 420px; */
  /* min-width: 420px; */
  /* width: 420px; */
}